body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 40px;
  border-radius: 3px;
  line-height: 18px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #db575a;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #c84448;
  outline: none;
  transition: background-color 0.3s;
}

.btn:active {
  background-color: #ba3a3d;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 2px 1px #c13135;
  outline: none;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.btn.btn-green {
  background-color: #00ca74;
}

.btn.btn-green:hover,
.btn.btn-green:focus {
  background-color: #00bc6c;
}

.btn.btn-green:active {
  background-color: #00aa62;
  box-shadow: inset 0px 2px 1px #009958;
}

.btn.btn-yellow {
  background-color: #efc84a;
}

.btn.btn-yellow:hover,
.btn.btn-yellow:focus {
  background-color: #eab534;
}

.btn.btn-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0px 2px 1px #ce961f;
}

.btn.btn-gray {
  background-color: #ededed;
  color: black;
}

.btn.btn-gray:hover,
.btn.btn-gray:focus {
  background-color: #dedede;
}

.btn.btn-gray:active {
  background-color: #d4d4d4;
  box-shadow: inset 0px 2px 1px #bfbfbf;
}

.wrapper {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Site header and navigation */
.site-header {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #eeeeee;
  font-weight: 500;
  text-transform: uppercase;
}

.site-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header a {
  color: black;
  line-height: 30px;
  font-weight: 500;
}

.site-header a:hover,
.site-header a:focus {
  color: #db575a;
  transition: color 0.3s;
}

.site-header a:active {
  color: inherit;
  opacity: 0.3;
  transition: color 0.3s, opacity 0.3s;
}

.nerds-logo {
  display: inline-block;
  vertical-align: middle;
}

.nerds-logo img:hover,
.nerds-logo img:focus {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.nerds-logo img:active {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.site-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation-item {
  margin: 0 23px;
}

.site-navigation-item a {
  outline: none;
}

.site-navigation-item.active {
  border-bottom: 2px solid #db575a;
}

.cart {
  position: relative;
  padding-left: 40px;
  margin-left: 40px;
  outline: none;
}

.cart::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 15px;
  height: 15px;
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart:active {
  opacity: 1;
}

.cart:active span {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cart:active::before {
  opacity: 1;
}

/* Footer */
.footer-wrapper {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}

.social-networks {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 130px;
  list-style: none;
}

.social-network {
  margin-right: 10px;
}

.social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  outline: none;
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: #c84448;
  transition: background-color 0.3s;
}

.social-network-link:active {
  background-color: #ba3a3d;
  transition: background-color 0.3s;
}

.social-network-link:active path {
  fill: rgba(255, 255, 255, 0.3);
  transition: fill 0.3s;
}

.social-engagement {
  width: 560px;
}

.social-engagement .friends {
  color: black;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  margin: 0 0 5px;
}

.social-engagement .discount {
  color: #666666;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  margin: 0;
}

/* Contact us */
.contacts {
  background-color: #e9e5dc;
  background-image: url(../img/map-with-marker.jpg);
  background-position: center;
  background-size: cover;
}

.contacts-wrapper {
  padding-top: 55px;
  padding-bottom: 55px;
}

.write-to-us {
  box-sizing: border-box;
  width: 320px;
  padding: 50px;
  color: #666666;
  background-color: white;
  line-height: 18px;
}

.write-to-us h3 {
  margin: 0 0 20px;
  color: black;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.write-to-us .address {
  margin-bottom: 20px;
}

.write-to-us p {
  line-height: 18px;
}

.write-to-us .phone {
  margin-bottom: 35px;
}

.write-to-us .btn {
  width: 100%;
}

.modal-dialog {
  display: none;
  box-sizing: border-box;
  width: 960px;
  padding: 70px 100px 80px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -480px;
  line-height: 18px;
  background-color: white;
  box-shadow: 0px 5px 15px 10px rgba(4, 6, 6, 0.25);
}

.modal-dialog h3 {
  margin: 0 0 45px;
  color: black;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-dialog .btn-close {
  position: absolute;
  top: 70px;
  right: 87px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.3;
}

.modal-dialog .btn-close:hover,
.modal-dialog .btn-close:focus {
  opacity: 1;
  transition: opacity 0.3s;
}

.modal-dialog .btn-close:active {
  opacity: 0.1;
  transition: opacity 0.3s;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.contact-form .contact-form-input {
  min-width: 360px;
  margin-bottom: 30px;
}

.contact-form .contact-form-input.textarea {
  min-width: 100%;
  margin-bottom: 45px;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-form button {
  padding-left: 80px;
  padding-right: 80px;
}

.contact-form input,
.contact-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  color: #d7dbdd;
  line-height: 18px;
  background-color: transparent;
  border: 2px solid #d7dbdd;
  border-radius: 3px;
  outline: none;
}

.contact-form textarea {
  min-height: 120px;
}

.contact-form input:hover,
.contact-form textarea:hover {
  color: #b4b7b9;
  border-color: #b4b7b9;
  trasition: color 0.3s, border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  color: black;
  border-color: black;
  trasition: color 0.3s, border-color 0.3s;
}

.contact-form input.invalid,
.contact-form textarea.invalid {
  color: #c84447;
  border-color: #c84447;
}

/* Index page */

/* Index page - Slider */
.promos {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.promos-wrapper {
  position: relative;
}

.promo-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo-list-item {
  box-sizing: border-box;
  min-height: 400px;
  padding: 60px 0 80px;
  display: none;
  background-size: content;
  background-position: top right;
  background-repeat: no-repeat;
}

.promo-list-item.slide-1 {
  background-image: url('../img/promo-slide-1.png');
}

.promo-list-item.slide-2 {
  background-image: url('../img/promo-slide-2.png');
}

.promo-list-item.slide-3 {
  background-image: url('../img/promo-slide-3.png');
}

.promo-list-item .slide-content {
  width: 50%;
}

.promo-list-item .tagline {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0 0 25px;
}

.promo-list .comment {
  width: 70%;
  margin: 0 0 40px;
}

.promo-list-item .btn {
  padding-left: 50px;
  padding-right: 50px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  width: 90px;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 95px;
  left: 50%;
  margin-left: -45px;
  list-style: none;
}

.slider-controls-item {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  background-color: white;
  cursor: pointer;
}

#slide-1:checked ~ .promo-list .promo-list-item.slide-1 {
  display: block;
}

#slide-2:checked ~ .promo-list .promo-list-item.slide-2 {
  display: block;
}

#slide-3:checked ~ .promo-list .promo-list-item.slide-3 {
  display: block;
}

#slide-1:checked ~ .slider-controls .slider-controls-item--1::after,
#slide-2:checked ~ .slider-controls .slider-controls-item--2::after,
#slide-3:checked ~ .slider-controls .slider-controls-item--3::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #c2c2c2;
  top: 5px;
  left: 5px
}

/* end of Index page - Slider */

.service-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 2px solid #eeeeee;
}

.service-item {
  width: 300px;
  padding: 0 0 80px;
  margin-right: 100px;
}

.service-item:nth-child(3n) {
  margin-right: 0;
}

.service-item h3 {
  margin: 20px 0 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.service-item p {
  margin: 0 0 33px;
}

.description {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 75px;
}

.description-services {
  width: 660px;
}

.description-services ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-credo {
  width: 360px;
}

.description-credo > p {
  text-align: center;
}

.description .about-us {
  margin: 35px 0;
  color: black;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.description .about-us-comment {
  margin: 0 0 40px;
}

.about-us-services p {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.about-us-services li {
  position: relative;
  padding-left: 35px;
  margin-top: 22px;
}

.about-us-services li::before {
  display: block;
  content: '';
  width: 25px;
  height: 2px;
  position: absolute;
  left: 0px;
  top: 11px;
  background-color: #db575a;
}

.description-credo > p {
  margin: 35px 0 40px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.indicators td {
  width: 30%;
  margin-right: 5%;
}

.indicators td:last-child {
  margin-right: 0;
}

.indicators-values td {
  padding-bottom: 15px;
}

.indicators-values b {
  color: black;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.indicators-values sup {
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
}

.indicators-names {
  font-size: 16px;
  line-height: 18px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  margin: 0 0 80px;
  list-style: none;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.client-list-item {
  box-sizing: border-box;
  width: 25%;
  border-right: 2px solid #eeeeee;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.client-list-item:nth-child(4n),
.client-list-item:last-child {
  border-right: none;
}

.client-list-item a {
  display: inline-block;
  opacity: 0.2;
  outline: none;
}

.client-list-item a:hover,
.client-list-item a:focus {
  opacity: 1;
  transition: opacity 0.3s;
}

.client-list-item a:active {
  opacity: 0.1;
  transition: opacity 0.3s;
}

/* Catalog page */

/* Catalog page - Filter */
.heading {
  display: flex;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 110px;
  background-color: #eeeeee;
}

.heading h2 {
  margin: 0;
  color: black;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.main-content-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  margin-bottom: 60px;
}

.sorting-and-templates-wrapper {
  width: 760px;
}

.filter {
  width: 260px;
}

.filter fieldset {
  border: none;
}

.filter legend,
.sorting h3 {
  color: black;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.filter-category.price legend,
.sorting {
  margin-bottom: 50px;
}

.filter-category {
  padding: 0;
  margin: 0 0 50px;
}

.filter-category legend {
  margin-bottom: 15px;
}

.range-filter {
  width: 260px;
}

.filter-item legend {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 174px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-category.grid,
.filter-category.features {
  display: flex;
  flex-wrap: wrap;
}

.filter-category.grid label,
.filter-category.features label {
  display: block;
  width: 100%;
  padding-left: 35px;
  margin-bottom: 20px;
  position: relative;
  line-height: 20px;
  cursor: pointer;
}

.filter-category.grid label:last-child,
.filter-category.features label:last-child {
  margin-bottom: 0;
}

.grid-radio-control input ~ span,
.features-checkbox-control input ~ span {
  color: #283136;
  opacity: 0.4;
}

.grid-radio-control input:hover ~ span,
.grid-radio-control input:focus ~ span,
.features-checkbox-control input:hover ~ span,
.features-checkbox-control input:focus ~ span {
  color: black;
  opacity: 1;
  transition: color 0.3s, opacity 0.3s;
}

.grid-radio-control input:disabled ~ span,
.features-checkbox-control input:disabled ~ span, {
  opacity: 0.1;
}

.grid-radio-control input[type='radio'] + .radio-indicator {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: -3px;
  background-image: url('../img/radio-off.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.grid-radio-control input[type='radio']:checked + .radio-indicator {
  background-image: url('../img/radio-on.svg');
}

.features-checkbox-control input[type='checkbox'] + .checkbox-indicator {
  display: inline-block;
  width: 27px;
  height: 23px;
  position: absolute;
  left: 0;
  top: -2px;
  background-image: url('../img/checkbox-off.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.features-checkbox-control input[type='checkbox']:checked + .checkbox-indicator {
  background-image: url('../img/checkbox-on.svg');
}

.filter button[type='submit'] {
  width: 100%;
}

/* end of Catalog page - Filter */

.sorting {
  display: flex;
  align-items: baseline;
}

.sorting h3 {
  margin-right: auto;
}

.sorting-type,
.sorting-order {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-left: 35px;
}

.sorting-type li {
  margin-right: 30px;
}

.sorting-type li:last-child {
  margin-right: 0;
}

.sorting-type a {
  color: black;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.sorting-type a:hover,
.sorting-type a:focus {
  opacity: 0.6;
}

.sorting-type a:active,
.sorting-type a.active {
  opacity: 1;
}

.sorting-order {
  align-self: center;
}

.sorting-order li {
  margin-right: 20px;
}

.sorting-order li:last-child {
  margin-right: 0;
}

.sorting-order a {
  display: block;
  width: 11px;
  height: 10px;
  font-size: 0;
  line-height: 0;
}

.sorting-order-link path {
  fill: rgba(0, 0, 0, 0.3);
}

.sorting-order-link:hover path,
.sorting-order-link:focus path {
  fill: rgba(0, 0, 0, 0.6);
}

.sorting-order-link:active path,
.sorting-order-link.active path {
  fill: rgba(0, 0, 0, 1);
}

/* Catalog page - Templates */
.template-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -20px;
  list-style: none;
}

.template-list-item {
  position: relative;
  width: 360px;
  min-height: 616px;
  margin: 0 20px 30px;
}

.template-list-item:hover {
  box-shadow: 0px 6px 15px 0px rgba(4, 6, 6, 0.25);
  transition: box-shadow 0.3s;
}

.template-list-item svg,
.template-list-item img {
  display: block;
}

.template-list-item:hover .template-card {
  display: block;
  transition: display 0.3s;
}

.template-list-item svg {
  opacity: 0.12;
}

.template-list-item:hover svg {
  opacity: 1;
  transition: opacity 0.3s;
}

.template-card {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 40px 50px;
  background-color: #eeeeee;
  text-align: center;
}

.template-card a {
  color: black;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.template-card p {
  margin: 15px 0 25px;
  color: #666666;
  line-height: 18px;
}

.template-card .btn {
  padding-left: 60px;
  padding-right: 60px;
}

/* Catalog page - Pagination */
.pagination {
  padding: 30px 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination .page {
  margin-right: 10px;
}

.page .btn {
  box-sizing: border-box;
  padding: 0;
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
}

.page .btn-gray.active {
  background-color: #ffffff;
  border: 2px solid #eeeeee;
  line-height: 46px;
  box-shadow: none;
}

.page .btn-next {
  padding-left: 80px;
  padding-right: 80px;
}
